.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.no-users {
  text-align: center;
  font-size: 34px;
  margin-top: 90px;
}

@media (max-width: 77em) {
  .users {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 46em) {
  .users {
    grid-template-columns: 1fr;
  }
}
