.user {
  border: 1px solid #e5e7eb;
  background-color: #fafafa0d;
  border-radius: 3px;
  padding: 17px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.delete {
  position: absolute;
  top: 5px;
  right: 8px;
}

.icon {
  width: 30px;
  height: 30px;
  color: #e03131;
  cursor: pointer;
}

.highlight {
  font-weight: 900;
}
